<div class="container mt-5">
    <div class="d-flex justify-content-between">
        <h2 class="mb-4">Add Competition</h2>
        <button class="btn mb-1 btn-primary fw-bold" routerLink="/competition">BACK</button>
    </div>

    <div class="card border border-4 border-secondary shadow">
        <div class="card-body fadeInAnimation">
      
          <!-- Your Form -->
          <div class="body mt-2">
            <form (ngSubmit)="addCompetition(competitionForm.value)" #competitionForm="ngForm" method="post">
              <div class="row">
                <!-- Amount -->
              <div class="col-md-6 mb-3">
                <label for="amount" class="form-label">Amount:</label>
                <input type="number" class="form-control border border-dark border-2" id="amount" name="amount" ngModel required>
              </div>
      
                <!-- Date -->
                <div class="col-md-6 mb-3">
                  <label for="date" class="form-label">Date:</label>
                  <input type="date" class="form-control border border-dark border-2" id="date" name="date" ngModel required>
                </div>
              </div>

              <!-- Repeat the same structure for other pairs of inputs -->

              <div class="row">
                <!-- Start Time -->
                <div class="col-md-6 mb-3">
                  <label for="startTime" class="form-label">Start Time:</label>
                  <input type="time" class="form-control border border-dark border-2" id="startTime" name="startTime" ngModel required>
                </div>
      
                <!-- End Time -->
                <div class="col-md-6 mb-3">
                  <label for="endTime" class="form-label">End Time:</label>
                  <input type="time" class="form-control border border-dark border-2" id="endTime" name="endTime" ngModel required>
                </div>
              </div>

            <div class="row">
             <!-- Total Participants -->
             <div class="col-md-6 mb-3">
                <label for="totalParticipants" class="form-label">Total Participants:</label>
                <input type="number" class="form-control border border-dark border-2" id="totalParticipants" name="totalParticipants" ngModel required>
              </div>
    
              <!-- Location -->
              <div class="col-md-6 mb-3">
                <label for="location" class="form-label">Location:</label>
                <input type="text" class="form-control border border-dark border-2" id="location" name="location" ngModel required>
              </div>
            </div>
              <button class="btn btn-primary" type="submit">Save</button>
            </form>
          </div>
      
        </div>
      </div>
      
</div>