<div class="container mt-5">
    <h1></h1>
    <div class="card border border-4 border-secondary">
        <div class="card-body">
            <div class="d-flex justify-content-center align-items-center">
                <img class="rounded-circle" src="../../../assets/images/users/user2.jpg" alt="">
              </div>
          <!-- Your Form -->
          <div class="body mt-2">
            <form (ngSubmit)="registerMemberToCompetition(registerForm.value)" #registerForm="ngForm" method="post">
              <div class="mb-3">
                <label for="competitionCode" class="form-label">Competition Code:</label>
                <input type="text" class="form-control border border-dark border-2" id="competitionCode" name="competitionCode" ngModel required>
              </div>
      
              <div class="mb-3">
                <label for="membershipNumber" class="form-label">Membership Number:</label>
                <input type="number" class="form-control border border-dark border-2" id="membershipNumber" name="membershipNumber" ngModel required>
              </div>
      
              <button class="btn btn-danger" type="submit">Register</button>
            </form>
          </div>
      
        </div>
      </div>
</div>