<div class="">
  <h2 class="font-medium mb-3">Competitions List</h2>
</div>
<!-- Row -->
<div class="row">
  <!-- column -->
  <div class="col-lg-3 col-md-6" *ngFor='let competition of competitions'>
    <!-- Card -->
    <!-- --------------------- start Card title ---------------- -->
    <div class="card border border-4 border-secondary">
      <img class="card-img-top img-responsive"  [src]="competition.imageUrl" height="250" alt="" />
      <div class="card-body">
        <h4 class="card-title fw-bold" style="color: hsl(20, 4%, 14%)">{{ competition.code }}</h4>
        <div class="card-text">
          <div class="sidebar-heading fs-6"><i class=""></i>Amount:
            <span class="" style="color: hsl(206, 73%, 53%)">{{ competition.amount }} $</span>
          </div>
          <div class="sidebar-heading fs-6 mt-2"><i class=""></i>Status:
            <span class="" style="color: hsl(206, 73%, 53%)">{{ competition.status }}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- --------------------- end Card title ---------------- -->
    <!-- Card -->
  </div>
  <!-- column -->
</div>
