<div class="boody">
    <div class="podium">
        <div class="podium-level-2">
            <div class="winner animate">
                <div class="place h1">🥈</div>
                <div class="name text-dark fw-bold">{{ secondPlace.member.name }} {{ secondPlace.member.familyName }}</div>
                <div class="score fw-bold mt-1">Score: <span>{{ secondPlace.score }}</span></div>
            </div>
        </div>
        <div class="podium-level-1">
            <div class="winner animate">
                <div class="place h1">🥇</div>
                <div class="name text-dark fw-bold">{{ firstPlace.member.name }} {{ firstPlace.member.familyName }}</div>
                <div class="score fw-bold mt-1">Score: <span class="">{{ firstPlace.score }}</span></div>
            </div>
        </div>
        <div class="podium-level-3">
            <div class="winner animate">
                <div class="place h1">🥉</div>
                <div class="name text-dark fw-bold">{{ thirdPlace.member.name }} {{ thirdPlace.member.familyName }}</div>
                <div class="score fw-bold mt-1">Score: <span>{{ thirdPlace.score }}</span></div>
            </div>
        </div>
    </div>
</div>
