<div class="d-flex align-items-center justify-content-center vh-100">
  <img src="assets/images/stop.jpg" height="512" width="512">
  <div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
      <p class="display-1 fw-bolder text-black">403</p>
      <p class="fs-6"> <span class="text-danger">Oops!</span> Access Denied.</p>
      <p class="lead">
        The page you're trying to access is restricted.
      </p>
      <a routerLink="/competition" class="btn btn-danger" (click)="goHome()">Go Home</a>

    </div>
  </div>
</div>
