<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="face">
    <p class="v-index">II
    </p>
    <p class="h-index">II
    </p>
    <div class="hand">
      <div class="hand">
        <div class="hour"></div>
        <div class="minute"></div>
        <div class="second"></div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <p class="fs-6"> <span class="text-danger">Oops!</span> Lock Mode.</p>
    <p class="lead ms-3">
      Your Account is currently in Lock Mode
    </p>
    <p>Wait to be Approved By the Manager.</p>
    <a href routerLink="/login" class="btn btn-danger opacity-75">Go Back</a>
  </div>
</div>
